<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>Label</key><string>com.zerospend.discovery</string><key>ProgramArguments</key><array><string>__NODE__</string><string>__REPO__/cli/zerospend.mjs</string><string>discover</string></array><key>WorkingDirectory</key><string>__REPO__</string><key>StartCalendarInterval</key><dict><key>Hour</key><integer>4</integer><key>Minute</key><integer>10</integer></dict></dict></plist>
